.UserInput {
    width: 49.5%;
    display: inline-block;
    text-align: left;
    background: #eff1f6;
    padding: 20px;
    margin-bottom: 30px;
    &:hover {
        cursor: pointer;
    }
}

.roundedLeft {
    border-radius: 8px 0 0 8px;
    margin-right: 1%;
}

.roundedRight {
    border-radius: 0 8px 8px 0;
}

.description {
    color: rgb(146, 153, 162);
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 0;
    color: #000;
    outline: none;
    display: inline-block;
    text-overflow: ellipsis;
    background: transparent;
    border: none;
    font-size: 25px;
}
