.btn {
    width: 49.5%;
    padding: 0 24px;
    height: 54px;
    line-height: 54px;
    font-size: 17px;
    background: #ffdd2d;
    border-radius: 6px;
    text-align: center;
    border: 1px solid transparent;
    outline: none;
    &:hover {
        cursor: pointer;
        background: #ffcd33;
    }
}

.btnDisable {
    background: #eff1f6;
    color: #999;
    &:hover {
        cursor: auto;
        background: #eff1f6;
    }
}

.description {
    display: inline-block;
    width: 49.5%;
    text-align: center;
}

.sell {
    margin-right: 5px;
}

.spinner {
    width: 90px;
    text-align: center;
    margin: 0 auto;
}

.spinnerItem {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    animation: skBouncedelay 1.4s infinite ease-in-out both;
    margin-right: 10px;
}

.bounce1 {
    animation-delay: -0.32s;
}

.bounce2 {
    animation-delay: -0.16s;
}

@keyframes skBouncedelay {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1.0);
    }
}