$base-font-size: 17px;
$second-font-size: 32px;

.Rules {
    display: inline-block;
    margin: 0 40px 20px 0;
    vertical-align: top;
}

.info {
    color: rgb(146, 153, 162);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.infoS {
    font-size: $base-font-size;
}

.infoM {
    font-size: $base-font-size + 2px;
}

.data {
    color: #333;
    margin-bottom: 20px;
}

.dataS {
    font-size: $second-font-size;
}
.dataM {
    font-size: $second-font-size + 2px;
}